--extra-index-url https://download.pytorch.org/whl/cpu
torch
sentence-transformers
langgraph
langchain
pydantic
langchain-core>=0.2.0,<0.3.0
langchain-community>=0.2.0,<0.3.0
langchain-groq
langchain-chroma
langchain-openai
python-dotenv
pypdf
langchain-google-genai
langsmith
gradio
pytest
ragas>=0.1.21
datasets
pandas
langchain-google-vertexai
google-cloud-aiplatform