--extra-index-url https://download.pytorch.org/whl/cpu
torch
sentence-transformers
langgraph
langchain
pydantic
angchain-community==0.2.19
langchain-groq
langchain-chroma
python-dotenv
pypdf
langchain-google-genai
langsmith
gradio
pytest
ragas==0.1.21
datasets
pandas
langchain-google-vertexai
google-cloud-aiplatform